<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{{ page.title }}</title>
	<link rel="icon" href="https://i.ibb.co/B2LtN6p/logo.png" type="image/x-icon">
        <!-- <link rel="stylesheet" href="{{site.baseurl}}/_sass/styles.scss"> -->
        <!-- External CSS not working: FIX IT -->
        <style>
            body {
                margin: 0;
                padding: 0 3em;
            }

            footer {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <section>
            {{ content }}
        </section>
        <footer>
            Bishow Thapa
        </footer>
    </body>
</html>