---
layout: default
---

<p>{{ page.date | date_to_string: "ordinal", "US"}} - Written by {{ page.author }}</p>

{{ content }}

<a href="{{'/' | relative_url}}">Home</a>

{% if paginator.total_pages > 1 %}

{% for page in (1..paginator.total_pages) %}
{% if page == paginator.page %}
  <em>{{ page }}</em>
{% elsif page == 1 %}
  <a href="{{ '/' | relative_url }}">{{ page }}</a>
{% else %}
  <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
{% endif %}
{% endfor %}

{% endif %}